* {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
}

body {
     font-family: Roboto, Helvetica, Arial, sans-serif;
}

/* SPACERS */
.spacerTop {
     width: 100%;
     height: 7vh;
     background-color: #fafafa;
     overflow: hidden;
}

.spacerBottom {
     width: 100%;
     height: 7vh;
     background-color: #fafafa;
     overflow: hidden;
}

.spacerLeft {
     flex-shrink: 1;
     flex-basis: 5rem;
}

.spacerRight {
     width: 100%;
     height: 7vh;
     background-color: #fafafa;
     overflow: hidden;
}

#logoMini {
     margin-left: 20rem;
     font-family: 'Dancing Script';
     font-size: 30px;
     border-bottom: none;
     padding-top: 15px;
}

/* The entire nav itself */
.navbar {
     width: 100%;
     height: 7vh;
     background-color: #313131;
     overflow: hidden;
 }
 
 /* Specific tabs */
 .navbar a {
     display: block;
     float: left;
 
     /* Font Settings */
     font-family: 'Roboto', sans-serif;
     font-size: 20px;
     color: white;
 
 
     /* Box - Padding */
     padding-top: 20px;
     padding-right: 15px;
     padding-bottom: 10px;
     padding-left: 15px;
     /* Remove Link Decoration */
     text-decoration: none;
 
     /* Test Code */
     /* background-color: #17b0cf; */
     /* border: 1px solid #000; */
 }
 
 .navbar a:hover {
     border-bottom: white solid 2px;
 }
 
 #navbarLinks {
     float: right;
     margin-right: 20rem;
 }