/* SPACERS */
.barSpacerTop {
     width: 100%;
     height: 7vh;
     background-color: #fafafa;
     overflow: hidden;
}

.barSpacerBottom {
     width: 100%;
     height: 7vh;
     background-color: #fafafa;
     overflow: hidden;
}

.barSpacerLeft {
     flex-shrink: 1;
     flex-basis: 5rem;
}

.barSpacerRight {
     width: 100%;
     height: 7vh;
     background-color: #fafafa;
     overflow: hidden;
}

/* The entire nav itself */
.barNav {
     width: 100%;
     height: 7vh;
     background-color: #313131;
     overflow: hidden;
}

/* UNUSED */
/* Specific tabs */
.barNav a {
     display: block;
     float: left;

     /* Font Settings */
     font-family: 'Roboto', sans-serif;
     font-size: 20px;
     color: white;

     /* Box - Setup for Testing */
     /* background-color: #17b0cf; */
     /* border: 1px solid #000; */

     /* Box - Padding */
     padding-top: 20px;
     padding-right: 10px;
     padding-bottom: 10px;
     padding-left: 10px;

     /* Remove Link Decoration */
     text-decoration: none;
}

.barNav a spacer {
     width: 30%
}

/* CSS Pseudo-Class to change the background color on hover */
.barNav a:hover {
     /* Remove Link Decoration */
     text-decoration: none;
     background-color: #5e5e5e;

     /* Font Settings */
     font-family: 'Roboto', sans-serif;
     font-size: 20px;
     color: white;
     height: 7vh;
}
/* END - UNUSED */

/* LOGO - LOADING */
.logoLoading {
     background-color: #fafafa;
     display: flex;
     align-items: center;
     justify-content: center;
     min-height: 100vh;
}

.logoLoading svg {
     max-width: 20rem;
     width: 100%;
     height: auto;
     stroke-width: 11;
}

.logoLoading svg tspan>tspan {
     stroke-dasharray: 1500;
     stroke-dashoffset: -1500;
}

.logoLoading svg tspan>tspan:nth-of-type(1) {
     -webkit-animation: draw 1000ms 250ms forwards;
     animation: draw 1000ms 250ms forwards;
}

.logoLoading svg tspan>tspan:nth-of-type(2) {
     -webkit-animation: draw 1000ms 500ms forwards;
     animation: draw 1000ms 500ms forwards;
}

.logoLoading svg tspan>tspan:nth-of-type(3) {
     -webkit-animation: draw 1000ms 750ms forwards;
     animation: draw 1000ms 750ms forwards;
}

.logoLoading svg tspan>tspan:nth-of-type(4) {
     -webkit-animation: draw 1000ms 1000ms forwards;
     animation: draw 1000ms 1000ms forwards;
}

.logoLoading svg tspan>tspan:nth-of-type(5) {
     -webkit-animation: draw 1000ms 1250ms forwards;
     animation: draw 1000ms 1250ms forwards;
}

.logoLoading svg tspan>tspan:nth-of-type(6) {
     -webkit-animation: draw 1000ms 1500ms forwards;
     animation: draw 1000ms 1500ms forwards;
}

.logoLoading svg tspan>tspan:nth-of-type(7) {
     -webkit-animation: draw 1000ms 1750ms forwards;
     animation: draw 1000ms 1750ms forwards;
}

.logoLoading svg tspan>tspan:nth-of-type(8) {
     -webkit-animation: draw 1000ms 2000ms forwards;
     animation: draw 1000ms 2000ms forwards;
}

.logoLoading svg tspan>tspan:nth-of-type(9) {
     -webkit-animation: draw 1000ms 2250ms forwards;
     animation: draw 1000ms 2250ms forwards;
}

.logoLoading svg tspan>tspan:nth-of-type(10) {
     -webkit-animation: draw 1000ms 2500ms forwards;
     animation: draw 1000ms 2500ms forwards;
}

.logoLoading svg tspan>tspan:nth-of-type(11) {
     -webkit-animation: draw 1000ms 2750ms forwards;
     animation: draw 1000ms 2750ms forwards;
}

.logoLoading svg tspan>tspan:nth-of-type(12) {
     -webkit-animation: draw 1000ms 3000ms forwards;
     animation: draw 1000ms 3000ms forwards;
}

.logoLoading svg tspan>tspan:nth-of-type(13) {
     -webkit-animation: draw 1000ms 3250ms forwards;
     animation: draw 1000ms 3250ms forwards;
}

.logoLoading svg tspan>tspan:nth-of-type(14) {
     -webkit-animation: draw 1000ms 3500ms forwards;
     animation: draw 1000ms 3500ms forwards;
}

.logoLoading svg tspan>tspan:nth-of-type(15) {
     -webkit-animation: draw 1000ms 3750ms forwards;
     animation: draw 1000ms 3750ms forwards;
}

.logoStroke {
     stroke: none;
     fill: #161616;
     fill-rule: evenodd;
     fill-opacity: 0;
     -webkit-user-select: none;
     /* Safari */
     -moz-user-select: none;
     /* Firefox */
     -ms-user-select: none;
     /* IE10+/Edge */
     user-select: none;
}

.logoTextFill {
     stroke: #161616;
     font-weight: normal;
     font-family: 'Dancing Script';
     font-size: 144px;
}

.logoMini {
     font-weight: normal;
     font-family: 'Dancing Script';
     font-size: 144px;
     color: #161616;
     text-decoration: none
     
}

@-webkit-keyframes draw {
     100% {
          stroke-dashoffset: 0;
     }
}

@keyframes draw {
     100% {
          stroke-dashoffset: 0;
     }
}

#load {
     width: 100%;
     height: 100%;
     position: fixed;
     z-index: 9999;
}

/* END OF LOGO - LOADING  */

/* Bootstrap Edits */
.navbar-brand {
     font-size: 2.00rem !important;
     color: #161616 !important;
}